body{
	background-image: url("banner.JPG");
}

.caixa {
	margin: 100 auto;
}

.tamanho {
	width: 20%;
}

nav {
    text-align: center;
    width: 100%;

}

nav li {
	display: inline;
	margin: 0 0 0 80px;
}

nav a {
    color: #ffffff;
	font-weight: bold;
	font-size: 40px;
	text-decoration: none;
}

.mexernav {
	margin-bottom: 15%;
}

.container {
	opacity: 98%;
	color: white;
	background-color: #000000;
	padding-bottom: 20%;
	padding-top: 10%;
	text-transform: uppercase;
    text-align: center;
    width: 100%;
}


h2 {
   opacity: 100%;
   color: #ffffff;
   font-size: 55px;
}

.container2 {
	width: 100%;
	background-color: #000000;
	color: #ffffff;
	font-size: 40px;
	text-align: center;
}

strong {
	font-size: 60px;
}

#a {
	color: lightblue;
	text-decoration-line: none;
}

#img1 {
	width: 100%;
}

.container3 {
	position: absolute;
    top: 140%;
    left: 45%;

}